<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.santosgarcia.esnaschas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".EsnaschasApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="RIgF3S1DD0bteZ3alxkS09Z6GSKFbJh81gC5MALd" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="PJRDjF6lnpi7ExVBR6icacx4AXDMtUnNZ81aiKKe" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/_AppTheme" />
        <activity
            android:name=".SingUpActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/_AppTheme" />
        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditFriendsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Recipients_activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" />

        <activity
            android:name=".ViewImageActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
